.articles {
}
.articles__container {
    display: flex;
    flex-direction: column;
}
.articles__title {
    max-width: 797px;
    @include respond-to("tab") {
        font-size: var(--fs-30);
    }
}
.articles__card-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 57px;
    @include respond-to("nout") {
        margin-bottom: 24px;
    }
    @include respond-to("tab") {
        gap: 16px;
    }
}
.articles__card {
    flex: 0 1 calc((100% - 2 * 30px) / 3);
    border-radius: 30px;
    background-color: var(--lite-green);
    min-height: 360px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    @include respond-to("nout") {
        flex: 0 1 calc((100% - 1 * 30px) / 2);
    }
    @include respond-to("tab") {
        padding-bottom: 23px;
        flex: 0 1 calc((100% - 1 * 16px) / 2);
        min-height: 272px;
        border-radius: 16px;
    }
    @include respond-to("tel") {
        flex: 0 1 100%;
    }
}
.articles__card-img-wrap {
    position: relative;
    height: 184.74px;
    @include respond-to("tab") {
        height: 140.74px;
    }
}
.articles__card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    @include respond-to("tab") {
        border-radius: 16px 16px 0 0;
    }
}
.articles__card-img-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    @include respond-to("tab") {
        border-radius: 16px 16px 0 0;
    }
}
.articles__card-content-box {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 34px;
    @include respond-to("tab") {
        padding: 23px 23px 0 23px;
    }
}
.articles__card-title {
    @include font(var(--fw-500), var(--fs-20), var(--primary-black), var(--lh-125));
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include respond-to("nout") {
        font-size: var(--fs-16);
    }
}
.articles__card-text {
    @include font(var(--fw-400), var(--fs-18), var(--primary-black), var(--lh-130));
    letter-spacing: -0.06em;
    @include respond-to("nout") {
        font-size: var(--fs-14);
    }
}
.articles__card-date-box {
    display: flex;
    gap: 17px;
    margin-top: auto;
    padding: 0 34px;
    @include respond-to("tab") {
        padding: 0 23px;
    }
}
.articles__card-date {
    @include font(var(--fw-400), var(--fs-14), var(--article-date), var(--lh-100));
    letter-spacing: -0.08em;
    display: flex;
    align-items: flex-end;
    &::before {
        content: "";
        display: flex;
        background: url("../img/icons/ikonka-daty-stati.svg") 0 0 / cover no-repeat;
        min-width: 18px;
        height: 18px;
        margin-right: 10px;
    }
    @include respond-to("tab") {
        font-size: var(--fs-12);
        &::before {
            min-width: 12px;
            height: 12px;
        }
    }
}
.articles__card-watch {
    @include font(var(--fw-400), var(--fs-14), var(--article-date), var(--lh-100));
    letter-spacing: -0.08em;
    display: flex;
    align-items: flex-end;
    &::before {
        content: "";
        display: flex;
        background: url("../img/icons/ikonka-prosmotrov-stati.svg") 0 0 / cover no-repeat;
        min-width: 18px;
        height: 18px;
        margin-right: 10px;
    }
    @include respond-to("tab") {
        font-size: var(--fs-12);
        &::before {
            min-width: 12px;
            height: 12px;
        }
    }
}
.articles__btn-bloc-box {
    align-self: flex-end;
    margin-right: 44px;
}
