//
.primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-black);
    border-radius: 5px;
    padding: 15px 15px;
    //
    @include font(var(--fw-normal), var(--fs-16), var(--primary-black), var(--lh-130));
    text-transform: uppercase;
    letter-spacing: -0.1em;
}
.primary-btn_bg {
    color: var(--primary-beige);
    background-color: var(--green);
    border: transparent;
}
.primary-btn_form {
    font-family: var(--ff-text);
    background-color: var(--btn-banner);
    color: var(--primary-beige);
    border-radius: 15px;
    @include font(var(--fw-400), var(--fs-20), var(--primary-beige), var(--lh-120));
    text-transform: none;
    padding: 20px 15px;
    letter-spacing: -0.06em;
    border: transparent;
}

//кнопки в блоках
.btn-bloc-box {
    display: flex;
    position: relative;
    align-items: center;
    width: fit-content;
    &:hover {
        & > .btn-bloc-circle {
            transition: 0.3s;
            transform: scale(1.1);
        }
    }
}
.btn-bloc {
    position: relative;
    z-index: 2;
    font-family: var(--ff-text);
    @include font(var(--fw-normal), var(--fs-24), var(--primary-black), var(--lh-100));
    letter-spacing: -0.06em;
    text-transform: uppercase;
    @include respond-to("tab") {
        font-weight: var(--fw-500);
        font-size: var(--fs-14);
    }
}
.btn-bloc-circle {
    position: absolute;
    right: -40px;
    background-color: var(--btn-green);
    border-radius: 100%;
    min-width: 62px;
    height: 62px;
    transition: 0.3s;
    //
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    @include respond-to("tab") {
        min-width: 38px;
        height: 38px;
        right: -27px;
        & > svg {
            width: 13px;
            height: 16px;
        }
    }
}
.btn-bloc_banner {
    color: var(--primary-beige);
}
.btn-bloc-circle_banner {
    background-color: var(--btn-banner);
}
.btn-bloc-circle_br {
    background-color: var(--btn-brown);
}

//кнопка записаться онлайн
.btn-sign-up-box {
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
}
.btn-sign-up {
    padding: 10px 39px 10px 0;
    border-bottom: 1px solid var(--primary-beige);
    text-transform: uppercase;
    @include font(var(--fw-normal), var(--fs-16), var(--primary-beige), var(--lh-130));
    font-family: var(--ff-text);
    letter-spacing: -0.1em;
    @media (max-width: 1240px) {
        font-size: var(--fs-14);
    }
    @include respond-to("nout") {
        padding: 10px 25px 10px 0;
    }
}
.btn-sign-up-icon {
    position: absolute;
    right: 0;
    width: 20px;
    height: 24px;
    & svg {
        width: 100%;
        height: 100%;
    }
}
//кнопки в карточках
.btn-card-box {
    display: flex;
    position: relative;
    align-items: center;
    &:hover {
        & > .btn-card-circle {
            transition: 0.3s;
            transform: scale(1.1);
        }
    }
}
.btn-card {
    @include font(var(--fw-400), var(--fs-16), var(--primary-black), var(--lh-120));
    letter-spacing: -0.06em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    @include respond-to("tab") {
        font-size: var(--fs-12);
    }
}
.btn-card-circle {
    position: absolute;
    right: -35px;
    border-radius: 100%;
    background-color: var(--btn-green);
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    transition: 0.3s;
    @include respond-to("tab") {
        min-width: 36px;
        height: 36px;
        right: -26px;
        & > svg {
            width: 12px;
            height: 15px;
        }
    }
}
.btn-card_white {
    color: var(--primary-beige);
}
.btn-card-circle_white {
    background-color: var(--green);
}
.btn-card-box_no-c {
    &:hover {
        & > .btn-card-circle_no-c {
            transform: translateX(5px);
        }
    }
}
.btn-card_no-c {
    font-size: var(--fs-20);
    @include respond-to("tab") {
        font-size: var(--fs-16);
    }
}
.btn-card-circle_no-c {
    transition: 0.3s;
    background-color: transparent;
    right: -15px;
}
