//Карточки услуг
.services__card-box {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    @include respond-to("tab") {
        gap: 16px;
    }
}
.services-card {
    flex: 0 1 calc((100% - 2 * 25px) / 3);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--green);
    border-radius: 30px;
    min-height: 456px;
    @media (max-width: 1275px) {
        flex: 0 1 calc((100% - 1 * 25px) / 2);
    }
    @include respond-to("tab") {
        flex: 0 1 100%;
        min-height: 348px;
        border-radius: 18px;
    }
}
.services-card-img-wrap {
    position: relative;
    width: 100%;
    height: 195px;
    @include respond-to("tab") {
        height: 150px;
    }
}
.services-card-img {
    border-radius: 29px 29px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include respond-to("tab") {
        border-radius: 17px 17px 0 0;
    }
}
.services-card-img-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 29px 29px 0 0;
    @include respond-to("tab") {
        border-radius: 17px 17px 0 0;
    }
}
.services-card-content-box {
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include respond-to("tab") {
        padding: 20px 23px;
    }
}
.services-card-title {
    @include font(var(--fw-Medium), var(--fs-20), var(--primary-black), var(--lh-135));
    letter-spacing: -0.06em;
    margin-bottom: 10px;
    text-transform: uppercase;
    @include respond-to("tab") {
        font-size: var(--fs-16);
    }
}
.services-card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 100%;
    & > ul > li,
    ol > li,
    p {
        @include font(var(--fw-normal), var(--fs-18), var(--primary-black), var(--lh-130));
        letter-spacing: -0.06em;
        @include respond-to("tab") {
            font-size: var(--fs-14);
        }
    }
    & > ul,
    ol {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    & > ul > li > ul,
    ol > li > ul > {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    & > ul > li > ul > li,
    ol > li > ul > li {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 20px;
        @include font(var(--fw-normal), var(--fs-15), var(--primary-black), var(--lh-125));
        letter-spacing: -0.06em;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: var(--primary-black);
        }
    }
}
.services__btn {
    align-self: flex-end;
    margin-right: 35px;
    @include respond-to("tab") {
        margin-right: 26px;
    }
}
.services-card_mob-none {
    @include respond-to("tab") {
        display: none;
    }
}
//Малые зеленые карточки

.small-green-card {
    flex: 0 1 calc((100% - 1 * 20px) / (2));
    border: 1px solid var(--green);
    border-radius: 10px;
    background-color: var(--banner-green-opacity);
    padding: 14px 14px 14px 14px;
    display: flex;
    gap: 13px;
    min-height: 73px;
    @include respond-to("tab") {
        flex: 0 1 calc((100% - 1 * 10px) / (2));
        padding: 12px;
        gap: 6px;
        min-height: 60px;
    }
    @include respond-to("tel") {
        flex: 1 1 100%;
    }
}
.small-green-card__icon-wrap {
    width: 14px;
    height: 14px;
}
.small-green-card__title {
    @include font(var(--fw-light), var(--fs-16), var(--primary-beige), var(--lh-135));
    text-transform: uppercase;
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-size: var(--fs-12);
    }
}
// карточка со звездой на зеленом фоне
.primary-card {
    flex: 0 1 calc((100% - 30px) / 2);
    border: 1px solid var(--green);
    border-radius: 18px;
    background: var(--lite-green);
    padding: 33px 75px;
    display: flex;
    gap: 24px;
    min-height: 197px;
    @include respond-to("pc-old") {
        padding: 23px;
    }
    @include respond-to("tab") {
        flex: 0 1 100%;
        background: transparent;
        flex-direction: column;
        gap: 10px;
    }
}
.card__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 38px;
    min-height: 38px;
    height: fit-content;
    width: fit-content;
    border-radius: 100%;
    background-color: var(--green);
    @include respond-to("tab") {
        min-width: 28px;
        min-height: 28px;
    }
}
.card-text-box {
    display: flex;
    flex-direction: column;
    max-width: 378px;
}
.card-title {
    font-family: var(--ff-text);
    @include font(var(--fw-Medium), var(--fs-22), var(--primary-black), var(--lh-120));
    letter-spacing: -0.06em;
    margin-bottom: 11px;
    text-transform: uppercase;
    @include respond-to("tab") {
        font-size: var(--fs-16);
        margin-bottom: 6px;
    }
}
.card-text {
    @include font(var(--fw-normal), var(--fs-18), var(--card-text), var(--lh-130));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-size: var(--fs-14);
    }
}

//карточки о нас
.about__card {
    display: flex;
    padding: 35px 36px;
    background-color: var(--green);
    border-radius: 18px;
    gap: 15px;
}
.about__card-title {
    @include font(var(--fw-300), var(--fs-20), var(--primary-beige), var(--lh-135));
    letter-spacing: -0.06em;
    text-transform: uppercase;
    @include respond-to("tab") {
        font-weight: var(--fw-400);
        font-size: var(--fs-14);
        line-height: var(--lh-125);
    }
}
