.statistic-box_dark {
    border: 1px solid var(--lite-green);
    margin-top: 0;
    width: 366px;
    @include respond-to("tab") {
        border: none;
    }
}
.static-item-num_dark {
    color: var(--primary-black);
    line-height: var(--lh-120);
}
.static-item-text_dark {
    color: var(--primary-black);
}
.statistic-item {
    padding: 0 5px;
    &:first-child {
        border-right: 1px dashed var(--lite-green);
    }
    @include respond-to("tab") {
        &:first-child {
            border-right: 1px solid var(--lite-green);
        }
    }
}
.statistic-item-dark {
    gap: 6px;
    @include respond-to("tab") {
        &:nth-child(1) {
            border-top: 1px solid var(--green);
            border-bottom: 1px solid var(--green);
        }
        &:nth-child(2) {
            border-top: 1px solid var(--green);
            border-bottom: 1px solid var(--green);
        }
        &:first-child {
            border-right: 1px solid var(--green);
        }
    }
}
.expert__title {
    margin-bottom: 32px;
}
.expert__slide {
    display: flex !important;
    flex-direction: column !important;
    // height: 539px !important;
}
.expert__slider-img-wrap {
    height: 380px;
    position: relative;
    border-radius: 18px;
    margin-bottom: 31px;
    @include respond-to("tab") {
        height: 205px;
        margin-bottom: 17px;
    }
}
.expert__slider-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.result__slide-text-box {
    display: flex;
    flex-direction: column;
    & > ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
.expert__slide-title {
    font-family: var(--ff-text);
    @include font(var(--fw-500), var(--fs-20), var(--primary-black), var(--lh-130));
    letter-spacing: -0.06em;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include respond-to("tab") {
        font-size: var(--fs-16);
    }
}
.expert__slide-text {
    @include font(var(--fw-400), var(--fs-18), var(--primary-black), var(--lh-120));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-size: var(--fs-14);
    }
}
.expert__slider-box {
    margin-bottom: 19px;
}
.expert__down-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond-to("tel") {
        flex-direction: column;
        gap: 30px;
    }
}
.btn-circle-box-expert {
    margin-right: 50px;
    align-self: flex-end;
    @include respond-to("tel") {
        margin-right: 0;
        align-self: flex-start;
    }
}
.slider__btn-box-expert {
    @include respond-to("tel") {
        align-self: flex-end;
    }
}
.expert__btn-bloc-box {
    align-self: flex-end;
    margin-right: 48px;
    @include respond-to("tab") {
        align-self: flex-start;
    }
}
