.footer {
    padding: 0 10px;
    background-color: var(--primary-black);
}
.footer__container {
    display: flex;
    flex-direction: column;
    padding: 61px 0 62px 0;
}
.footer__up-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 37px;
    @include respond-to("pc-old") {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 25px;
        margin-bottom: 33px;
    }
    @include respond-to("tab") {
        gap: 30px;
        margin-bottom: 0;
    }
}
.footer__up-col {
    display: grid;
}
.footer__up-col-title {
    font-family: var(--ff-title);
    @include font(var(--fw-400), var(--fs-26), var(--primary-beige), var(--lh-130));
    letter-spacing: -0.06em;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include respond-to("pc-old") {
        margin-bottom: r(15);
    }
    @include respond-to("tab") {
        margin-bottom: 7px;
    }
}
.footer__up-col-link {
    width: fit-content;
    font-family: var(--ff-text);
    @include font(var(--fw-400), var(--fs-16), var(--primary-beige), var(--lh-130));
    letter-spacing: -0.06em;
    text-transform: uppercase;
    //
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 1px 100%;
    background-repeat: no-repeat;
    background-size: 0% 1.5px;
    transition: background-size 0.3s;
    &:hover {
        background-size: 100% 1.5px;
    }
    @include respond-to("tab") {
        font-weight: var(--fw-300);
        font-size: var(--fs-12);
    }
}
.footer__up-col {
    max-width: 266px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    @include respond-to("pc-old") {
        max-width: 240px;
    }
    @include respond-to("pc-old") {
        max-width: 100%;
    }
    @include respond-to("tab") {
        gap: 7px;
    }
}
.footer-img-box {
    display: flex;
    gap: 7px;
    margin-top: 5px;
    margin-bottom: 23px;

    @include respond-to("tab") {
        display: none;
    }
}
.footer-img {
    width: 74px;
    height: 66px;
    border-radius: 5px;
}
.footer__address-box {
    gap: 10px;
    margin-bottom: 30px;
    @include respond-to("tab") {
        margin-bottom: 18px;
    }
}
.footer-addres {
    @include font(var(--fw-400), var(--fs-16), var(--primary-beige), var(--lh-120));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-size: var(--fs-14);
        font-weight: var(--fw-500);
    }
}
.footer-address-route {
    @include font(var(--fw-300), var(--fs-14), var(--primary-beige), var(--lh-120));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-size: var(--fs-12);
        font-weight: var(--fw-400);
    }
}
.footer__contacts-box {
    gap: 10px;
    margin-bottom: 29px;
    @include respond-to("tab") {
        margin-bottom: 18px;
    }
}
.footer-tel {
    @include font(var(--fw-400), var(--fs-24), var(--primary-beige), var(--lh-120));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-weight: var(--fw-500);
        font-size: var(--fs-14);
    }
}
.footer-schedule {
    @include font(var(--fw-300), var(--fs-14), var(--primary-beige), var(--lh-120));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-size: var(--fs-12);
        font-weight: var(--fw-400);
    }
}
.footer__down-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @include respond-to("pc-old") {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 16px;
    }
    @include respond-to("tab") {
        gap: 0;
        // column-gap: 33px;
        grid-template-columns: repeat(2, auto);
    }
}
.footer__down-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
    @include respond-to("pc-old") {
        max-width: 240px;
    }
    @include respond-to("tab") {
        height: fit-content;
        width: 141px;
    }
}
.footer__down-col_gap {
    gap: 10px;
}
.footer__down-col_box {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 16px;
    @include respond-to("pc-old") {
        align-items: flex-start;
    }
    @include respond-to("tab") {
        gap: 8px;
    }
}
.footer__down-tex {
    @include font(var(--fw-400), var(--fs-12), var(--primary-beige), var(--lh-145));
    letter-spacing: -0.06em;
    width: fit-content;
    @include respond-to("tab") {
        font-weight: var(--fw-400);
        font-size: var(--fs-10);
    }
}
a.footer__down-tex {
    text-decoration: underline;
}
.footer__down-icon-link {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        & svg {
            transition: 0.03s;
            transform: scale(1.2);
        }
    }
    @include respond-to("tab") {
        width: 25px;
        height: 25px;
    }
}
.footer__down-tex_lite {
    @include font(var(--fw-300), var(--fs-10), var(--primary-beige), var(--lh-145));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-weight: var(--fw-400);
        font-size: var(--fs-8);
        width: 300px;
        margin-top: -35px;
    }
}
.footer__up-col-title_opacity {
    opacity: 0;
}
.footer__down-col_twise {
    @include respond-to("tab") {
        grid-column: 1/3;
        max-width: 100%;
    }
}
.footer__up-col_last {
    gap: 0;
    @include respond-to("tab") {
        gap: 0;
    }
}
