.input-search-box {
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
}
.input-search {
    font-family: var(--ff-text);
    width: 194px;
    padding: 12px 5px;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-beige);
    &::placeholder {
        font-family: var(--ff-text);
        @include font(var(--fw-normal), var(--fs-18), var(--lite-green), var(--lh-120));
        letter-spacing: -0.1em;
    }
    @include respond-to("nout") {
        max-width: 160px;
    }
}
.input-search-icon {
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    & svg {
        width: 100%;
        height: 100%;
    }
}
