.help {
}
.help__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 73px 75px 70px 75px;
    @include respond-to("tab") {
        padding: 50px 23px;
    }
}
.help__bg {
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include respond-to("tab") {
        border-radius: 16px;
    }
}
.help__bg-mask {
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.help__content-box {
    position: relative;
    z-index: 2;
}
.help__title {
    @include font(var(--fw-400), var(--fs-52), var(--primary-beige), var(--lh-110));
    color: var(--primary-beige);
    letter-spacing: -0.08em;
    margin-bottom: 19px;
    max-width: 696px;
    @include respond-to("tab") {
        font-size: var(--fs-30);
        margin-bottom: 26px;
    }
}
.help__subtitle {
    font-family: var(--ff-text);
    @include font(var(--fw-400), var(--fs-20), var(--primary-beige), var(--lh-135));
    letter-spacing: -0.06em;
    text-transform: uppercase;
    max-width: 493px;
    margin-bottom: 38px;
    @include respond-to("tab") {
        font-size: var(--fs-14);
        margin-bottom: 45px;
    }
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 455px;
}
.form__row {
    display: flex;
    gap: 20px;
    margin-bottom: 8px;
    flex-wrap: wrap;
    @include respond-to("tab") {
        flex-direction: column;
        margin-bottom: 12px;
    }
}
.form__row_text {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    @include respond-to("tab") {
        margin-bottom: 20px;
        gap: 5px;
        margin-bottom: 12px;
    }
}
.form__input {
    border-radius: 15px;
    background: var(--primary-beige);
    padding: 26px 15px;
    @include respond-to("tab") {
        padding: 16.5px 15px;
        border-radius: 10px;
    }
}
.form__input_two-col {
    flex: 0 1 calc((100% - 1 * 20px) / 2);
    @include respond-to("tab") {
        flex: 0 1 100%;
    }
}
input::placeholder {
    font-family: var(--ff-text);
    @include font(var(--fw-400), var(--fs-16), var(--placeholder), var(--lh-120));
    letter-spacing: -0.06em;
}
._req {
}
.tel {
}
.form__label {
    @include font(var(--fw-400), var(--fs-20), var(--primary-beige), var(--lh-120));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-size: var(--fs-14);
    }
}
.form__text-area {
    border-radius: 15px;
    background: var(--primary-beige);
    padding: 26px 15px;
    &::placeholder {
        color: var(--article-date);
    }
    @include respond-to("tab") {
        padding: 16.5px 15px;
        border-radius: 10px;
    }
}
.form__btn {
    margin-bottom: 18px;
    @include respond-to("tab") {
        margin-bottom: 12px;
        border-radius: 10px;
        padding: 16px 15px;
        font-size: var(--fs-14);
    }
}
.help__btn {
    width: 100%;
    @include respond-to("tab") {
        padding: 16.5px 15px;
    }
}
.form__agree {
    @include font(var(--fw-400), var(--fs-12), var(--primary-beige), var(--lh-120));
    letter-spacing: -0.04em;
    display: flex;
    &::before {
        content: "";
        background: url("../img/icons/flazhok-soglasiya.svg") 0 0 / cover no-repeat;
        display: block;
        min-width: 12px;
        height: 12px;
        margin-right: 20px;
    }
}
