.services {
}
.services__container {
    display: flex;
    flex-direction: column;
}
.services__title {
}

.services__card {
    @include respond-to("tab") {
        display: none;
    }
}
.services__link {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 310px;
    width: 100%;
    @include respond-to("tab") {
        display: flex;
    }
}
.services_btn {
    display: none;
    width: 100%;
    @include font(var(--fw-500), var(--fs-14), var(--primary-beige), var(--lh-125));
    text-transform: none;
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        display: flex;
    }
}
.servisec-card-price {
    @include font(var(--fw-600), var(--fs-18), var(--green), var(--lh-130));
    letter-spacing: -0.06em;
    padding-bottom: 10px;
    @include respond-to("tab") {
        font-size: var(--fs-14);
        line-height: var(--lh-120);
        padding-bottom: 8px;
    }
}
.services-page__title {
    font-family: var(--ff-title);
    @include font(var(--fw-400), var(--fs-44), var(--primary-black), var(--lh-120));
    letter-spacing: -0.08em;
    text-transform: uppercase;
    margin-bottom: 40px;
    @include respond-to("tab") {
        font-size: var(--fs-28);
        margin-bottom: 26px;
    }
}
.services-pool__container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.services-page__subtitle {
    font-family: var(--ff-title);
    @include font(var(--fw-400), var(--fs-36), var(--primary-black), var(--lh-125));
    letter-spacing: -0.08em;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include respond-to("tab") {
        font-size: var(--fs-20);
        margin-bottom: 16px;
        letter-spacing: -0.1em;
    }
}
.servic-box_no-gap {
    margin-top: -50px;
}
