.tabs {
    display: flex;
    flex-direction: column;
}
.tabs__title-box {
    display: flex;
    width: 100%;
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.tabs__title {
    flex: 1 1 33.333%;
    text-align: center;
    cursor: pointer;
}
.tabs__item-box {
}
.tabs__item {
    display: none;
    flex: 1 1 100%;
    &.active {
        display: flex;
    }
}
