<section class='advantages-service'>
    <div class='container advantages-service__container'>
        <h2 class="advantages-service__title _fonts-js">Почему выбирают эндосферу именно у&nbsp;нас</h2>
        <div class="compar-box">
            <ul class="compar-list">
                <li class="compar-item">Центр “Романов”</li>
                <li class="compar-item">Индивидуальная настройка аппарата под клиента</li>
                <li class="compar-item">Несколько режимов в зависимости от задач</li>
                <li class="compar-item">Гарантия комфортной процедуры</li>
                <li class="compar-item">Да, благодаря правильной технике</li>
                <li class="compar-item">Звездный спа-терапевт с 15-летним стажем</li>
                <li class="compar-item">Сертифицированный от официального дистрибьютора</li>
            </ul>
            <ul class="compar-list compar-list_ordinary">
                <li class="compar-item">обычная эндосфера</li>
                <li class="compar-item">Стандартный режим работы</li>
                <li class="compar-item">1 стандартный режим</li>
                <li class="compar-item">Возможны неприятные ощущения и следы после процедуры</li>
                <li class="compar-item">Не гарантируется</li>
                <li class="compar-item">Неопытные мастера</li>
                <li class="compar-item">Несертифицированные аналоги</li>
            </ul>
        </div>
    </div>
</section>