<section class='articles'>
    <div class='container articles__container'>
        <h2 class="articles__title _fonts-js">Читайте&nbsp;&nbsp;подробнее
            о&nbsp;наших методиках</h2>
        <div class="articles__card-box">
            <div class="articles__card">
                <div class="articles__card-img-wrap">
                    <img src="@img/articles/foto-statej.png" alt="" class="articles__card-img">
                    <img src="@img/articles/foto-statej-maska.png" alt="" class="articles__card-img-mask">
                </div>
                <div class="articles__card-content-box">
                    <h3 class="articles__card-title">что такое эндосфера?</h3>
                    <p class="articles__card-text">Преимущества аппаратных процедур</p>

                </div>
                <div class="articles__card-date-box">
                    <span class="articles__card-date">01.01.2023</span>
                    <span class="articles__card-watch">53</span>
                </div>
            </div>
            <div class="articles__card">
                <div class="articles__card-img-wrap">
                    <img src="@img/articles/foto-statej.png" alt="" class="articles__card-img">
                    <img src="@img/articles/foto-statej-maska.png" alt="" class="articles__card-img-mask">
                </div>
                <div class="articles__card-content-box">
                    <h3 class="articles__card-title">что такое эндосфера?</h3>
                    <p class="articles__card-text">Преимущества аппаратных процедур</p>

                </div>
                <div class="articles__card-date-box">
                    <span class="articles__card-date">01.01.2023</span>
                    <span class="articles__card-watch">53</span>
                </div>
            </div>
            <div class="articles__card">
                <div class="articles__card-img-wrap">
                    <img src="@img/articles/foto-statej.png" alt="" class="articles__card-img">
                    <img src="@img/articles/foto-statej-maska.png" alt="" class="articles__card-img-mask">
                </div>
                <div class="articles__card-content-box">
                    <h3 class="articles__card-title">что такое эндосфера?</h3>
                    <p class="articles__card-text">Преимущества аппаратных процедур</p>

                </div>
                <div class="articles__card-date-box">
                    <span class="articles__card-date">01.01.2023</span>
                    <span class="articles__card-watch">53</span>
                </div>
            </div>
        </div>
        <div class="btn-bloc-box articles__btn-bloc-box">
            <a href="#" class="btn-bloc">все статьи</a>
            <div class="btn-bloc-circle">
                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                        fill="rgb(39, 39, 39)"></path>
                </svg>
            </div>
        </div>
    </div>
</section>