<section class='banner'>
    <img src="@img/banner/kartinka-bannera-na-glavnoj.png" alt="" class="banner-bg">
    <img class="banner_bg-mask" src="@img/banner/filtr-dlya-bannera.png" alt="">
    <div class='container banner__container'>
        <h1 class="banner__title "><span class="ceremonious">С</span>оздаем&nbsp;&nbsp;&nbsp;эффективные стратегии <span
                class="ceremonious">м</span>олодости&nbsp;&nbsp;&nbsp;&nbsp;и&nbsp;<span
                class="ceremonious">к</span>расоты
        </h1>
        <h3 class="banner__subtitle">Комплексное восстановление здоровья, повышение качества жизни
            и гармонизация внешности в&nbsp;черте мегаполиса</h3>
        <div class="banner__card-box">
            <div class="small-green-card">
                <div class="small-green-card__icon-wrap">
                    <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="Star 10"
                            d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                            fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd" />
                    </svg>

                </div>
                <h4 class="small-green-card__title">Персональные программы омоложения</h4>
            </div>
            <div class="small-green-card">
                <div class="small-green-card__icon-wrap">
                    <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="Star 10"
                            d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                            fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd" />
                    </svg>

                </div>
                <h4 class="small-green-card__title">Бьюти-менторинг</h4>
            </div>
            <div class="small-green-card">
                <div class="small-green-card__icon-wrap">
                    <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="Star 10"
                            d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                            fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd" />
                    </svg>

                </div>
                <h4 class="small-green-card__title">Оздоровление тела и&nbsp;коррекция фигуры</h4>
            </div>
            <div class="small-green-card">
                <div class="small-green-card__icon-wrap">
                    <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="Star 10"
                            d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                            fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd" />
                    </svg>

                </div>
                <h4 class="small-green-card__title">Ресурсная терапия&nbsp;&mdash; управление стрессом</h4>
            </div>
        </div>
        <div class="btn-bloc-box">
            <button class="btn-bloc btn-bloc_banner">записаться онлайн</button>
            <div class="btn-bloc-circle btn-bloc-circle_banner">
                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                        fill="#efeae5"></path>
                </svg>
            </div>
        </div>
    </div>
</section>