<h3>Кнопка записаться онлайн</h3>
<div class="btn-sign-up-box">
    <button class="btn btn-sign-up">Записаться онлайн</button>
    <div class="btn-sign-up-icon">
        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M15.0648 14.4097L13.5281 14.4198L13.5281 8.05181L5.28182 16.298L4.17696 15.1932L12.4232 6.94696L6.06526 6.957V5.41021H15.0648V14.4097Z"
                fill="#EFEAE5" />
        </svg>
    </div>
</div>

<br>

<h3>Кнопка стандартная</h3>
<button class="btn btn-regular _btn-underline-js">сертификаты</button>

<br>

<h3>Кнопка стандартная вторая</h3>
<button class="btn btn-regular btn-regular_secondary _btn-underline-js">интернет-магазин</button>

<br>

<h3>Кнопка стандартная третья</h3>
<button class="btn btn-regular btn-regular_third _btn-underline-js">Получить консультацию</button>

<br>

<h3>Кнопка с кругом</h3>
<div class="btn-circle-box">
    <button class="btn btn-circle">записаться онлайн</button>
    <div class="btn-circle-circle">
        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                fill="#272727" />
        </svg>
    </div>
</div>

<br>

<h3>Кнопка с кругом белая</h3>
<div class="btn-circle-box">
    <button class="btn btn-circle btn-circle_white">записаться онлайн</button>
    <div class="btn-circle-circle btn-circle-circle_white">
        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                fill="#efeae5" />
        </svg>
    </div>
</div>

<br>

<h3>Кнопка 2 с кругом </h3>
<a href="#" class="btn-circle-box btn-circle-box_green">
    <span class="btn btn-circle btn-circle_green">подробнее</span>
    <div class="btn-circle-circle btn-circle-circle_green">
        <svg width="14" height="19" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                fill="#efeae5" />
        </svg>
    </div>
</a>

<br>

<h3>Кнопка 2 с кругом белая </h3>
<a href="#" class="btn-circle-box btn-circle-box_green">
    <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
    <div class="btn-circle-circle btn-circle-circle_green">
        <svg width="14" height="19" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                fill="#272727" />
        </svg>
    </div>
</a>

<h3>Кнопка плеера </h3>
<button class="about__video-circle">
    <svg width="15.000000" height="17.320496" viewBox="0 0 15 17.3205" fill="none" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <desc>
            Created with Pixso.
        </desc>
        <defs />
        <path id="Polygon 3" d="M15 8.66025L0 0L0 17.3205L15 8.66025Z" fill="#D9D9D9" fill-opacity="1.000000"
            fill-rule="evenodd" />
    </svg>

</button>
<br>
<br>
<h3>Кнопка сми слайдера </h3>
<div class="slider__btn-box">
    <button class="slider-btn msm-slider-btn-prev">
        <svg width="18.998047" height="16.548340" viewBox="0 0 18.998 16.5483" fill="none"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <desc>
                Created with Pixso.
            </desc>
            <defs />
            <path id="→"
                d="M8.27051 16.5483L-0.000488281 8.27734L8.27051 0L9.35596 1.08545L2.93213 7.50293L18.998 7.50293L18.998 9.05176L2.93213 9.05176L9.35596 15.4692L8.27051 16.5483Z"
                fill="#272727" fill-opacity="1.000000" fill-rule="evenodd" />
        </svg>

    </button>
    <button class="slider-btn msm-slider-btn-next">
        <svg width="18.998047" height="16.548340" viewBox="0 0 18.998 16.5483" fill="none"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <desc>
                Created with Pixso.
            </desc>
            <defs />
            <path id="→"
                d="M8.27051 16.5483L-0.000488281 8.27734L8.27051 0L9.35596 1.08545L2.93213 7.50293L18.998 7.50293L18.998 9.05176L2.93213 9.05176L9.35596 15.4692L8.27051 16.5483Z"
                fill="#272727" fill-opacity="1.000000" fill-rule="evenodd" />
        </svg>
    </button>
</div>