<h3>Карточки преимуществ</h3>
<div class="advantages__card-box">
    <div class="primary-card advantages__card">
        <div class="card__icon-wrap">
            <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>
                    Created with Pixso.
                </desc>
                <defs></defs>
                <path id="Star 10"
                    d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                    fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd"></path>
            </svg>

        </div>
        <div class="card-text-box">
            <h4 class="card-title">Целостный подход к&nbsp;красоте</h4>
            <p class="card-text">Решаем задачи на&nbsp;уровне первопричины
                с&nbsp;учетом физиологического, эмоционального и&nbsp;энергетического аспектов здоровья</p>
        </div>
    </div>
    <div class="primary-card advantages__card">
        <div class="card__icon-wrap">
            <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>
                    Created with Pixso.
                </desc>
                <defs></defs>
                <path id="Star 10"
                    d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                    fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd"></path>
            </svg>

        </div>
        <div class="card-text-box">
            <h4 class="card-title">Управление эмоциями</h4>
            <p class="card-text">Помогаем справляться со&nbsp;стрессом
                и&nbsp;удерживать ресурсное состояние</p>
        </div>
    </div>
    <div class="primary-card advantages__card">
        <div class="card__icon-wrap">
            <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>
                    Created with Pixso.
                </desc>
                <defs></defs>
                <path id="Star 10"
                    d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                    fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd"></path>
            </svg>

        </div>
        <div class="card-text-box">
            <h4 class="card-title">Ценность времени</h4>
            <p class="card-text">Мы&nbsp;экономим ваше время. Наши методики работают сразу и&nbsp;имеют
                длительный эффект</p>
        </div>
    </div>
    <div class="primary-card advantages__card">
        <div class="card__icon-wrap">
            <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>
                    Created with Pixso.
                </desc>
                <defs></defs>
                <path id="Star 10"
                    d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                    fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd"></path>
            </svg>

        </div>
        <div class="card-text-box">
            <h4 class="card-title">Внимание к&nbsp;пациентам</h4>
            <p class="card-text">Мы&nbsp;тщательно анализируем каждый запрос и&nbsp;работаем над решением
                командой специалистов</p>
        </div>
    </div>
</div>
<br>
<br>
<h3>Карточки услуг</h3>
<div class="services__card-box">
    <div class="services-card services__card">
        <div class="services-card-img-wrap">
            <img src="@img/services/foto-uslug-1.png" alt="" class="services-card-img">
            <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
        </div>
        <div class="services-card-content-box">
            <h3 class="services-card-title">Бьюти-менторинг
                и&nbsp;стратегии долголетия</h3>
            <div class="services-card-content">
                <ul>
                    <li>Консультации и ведение</li>
                    <li>Карта питания</li>
                    <li>Стратегия долголетия</li>
                </ul>
            </div>
            <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                <div class="btn-circle-circle btn-circle-circle_green">
                    <svg width="14" height="19" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                            fill="#272727"></path>
                    </svg>
                </div>
            </a>
        </div>
    </div>
    <div class="services-card services__card">
        <div class="services-card-img-wrap">
            <img src="@img/services/foto-uslug-1.png" alt="" class="services-card-img">
            <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
        </div>
        <div class="services-card-content-box">
            <h3 class="services-card-title">Диагностика</h3>
            <div class="services-card-content">
                <ul>
                    <li>Лабораторные исследования</li>
                    <li>Биоимпедансометрия</li>
                    <li>Пульсовая диагностика</li>
                    <li>Аромадиагностика</li>
                </ul>
            </div>
            <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                <div class="btn-circle-circle btn-circle-circle_green">
                    <svg width="14" height="19" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                            fill="#272727"></path>
                    </svg>
                </div>
            </a>
        </div>
    </div>
    <div class="services-card services__card">
        <div class="services-card-img-wrap">
            <img src="@img/services/foto-uslug-1.png" alt="" class="services-card-img">
            <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
        </div>
        <div class="services-card-content-box">
            <h3 class="services-card-title">Гармонизация внешности</h3>
            <div class="services-card-content">
                <ul>
                    <li>Квантовое омоложение</li>
                    <li>Остеопластика</li>
                    <li>Бьютификация лица</li>
                    <li>Скульптурный массаж</li>
                </ul>
            </div>
            <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                <div class="btn-circle-circle btn-circle-circle_green">
                    <svg width="14" height="19" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                            fill="#272727"></path>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>
<h3>Маленькая зеленая карточка</h3>
<div class="small-green-card">
    <div class="small-green-card__icon-wrap">
        <svg width="13.338867" height="13.000000" viewBox="0 0 13.3389 13" fill="none"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <desc>
                Created with Pixso.
            </desc>
            <defs></defs>
            <path id="Star 10"
                d="M6.66895 0L6.26074 5.53906L1.95312 1.90381L5.68359 6.10205L0 6.5L5.68359 6.89795L1.95312 11.0962L6.26074 7.46094L6.66895 13L7.07812 7.46094L11.3857 11.0962L7.65527 6.89795L13.3389 6.5L7.65527 6.10205L11.3857 1.90381L7.07812 5.53906L6.66895 0Z"
                fill="#EFEAE5" fill-opacity="1.000000" fill-rule="evenodd"></path>
        </svg>

    </div>
    <h4 class="small-green-card__title">Бьюти-менторинг</h4>
</div>