<section class='expert'>
    <div class='container expert__container'>
        <div class="title-box-statistic">
            <h2 class="expert__title _fonts-js">
                Команда <br> специалистов
            </h2>
            <div class="statistic-box statistic-box_dark">
                <div class="statistic-item statistic-item-dark">
                    <span class="static-item-num static-item-num_dark">4.9</span>
                    <span class="static-item-text static-item-text_dark">средний рейтинг на отзовиках</span>
                </div>
                <div class="statistic-item statistic-item-dark">
                    <span class="static-item-num static-item-num_dark">8/10</span>
                    <span class="static-item-text static-item-text_dark">клиентов становятся постоянными</span>
                </div>
            </div>
        </div>
        <div class="expert__slider-box">

            <!-- Главный контейнер -->
            <div class="swiper expert-slider swiper-initialized swiper-horizontal swiper-backface-hidden">
                <!-- Оболочка -->
                <div class="swiper-wrapper" id="swiper-wrapper-8ce8175bf7ef52109" aria-live="polite">
                    <!-- Слайды -->

                    <div class="swiper-slide expert__slide">
                        <div class="expert__slider-img-wrap">
                            <img src="assets/img/msm/foto-smi-o-nas-1.png" alt="" class="expert__slider-img">
                        </div>
                        <div class="result__slide-text-box">
                            <h3 class="expert__slide-title">иванова алена александровна</h3>
                            <ul>
                                <li class="expert__slide-text">Директор центра здоровья
                                    и&nbsp;красоты &laquo;Романов&raquo;</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide expert__slide">
                        <div class="expert__slider-img-wrap">
                            <img src="assets/img/msm/foto-smi-o-nas-1.png" alt="" class="expert__slider-img">
                        </div>
                        <div class="result__slide-text-box">
                            <h3 class="expert__slide-title">Феденко <br>
                                ольга владимировна</h3>
                            <ul>
                                <li class="expert__slide-text">Медицинский координатор</li>
                                <li class="expert__slide-text">Стаж - 20 лет</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide expert__slide">
                        <div class="expert__slider-img-wrap">
                            <img src="assets/img/msm/foto-smi-o-nas-1.png" alt="" class="expert__slider-img">
                        </div>
                        <div class="result__slide-text-box">
                            <h3 class="expert__slide-title">Мицинская <br> Александра Игоревна</h3>
                            <ul>
                                <li class="expert__slide-text">Врач-косметолог высшей категории</li>
                                <li class="expert__slide-text">Стаж - 10 лет</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide expert__slide">
                        <div class="expert__slider-img-wrap">
                            <img src="assets/img/msm/foto-smi-o-nas-1.png" alt="" class="expert__slider-img">
                        </div>
                        <div class="result__slide-text-box">
                            <h3 class="expert__slide-title">Мицинский Михаил Алексеевич</h3>
                            <ul>
                                <li class="expert__slide-text">Массажист, реабилитолог</li>
                                <li class="expert__slide-text">Стаж - 6 лет</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide expert__slide">
                        <div class="expert__slider-img-wrap">
                            <img src="assets/img/msm/foto-smi-o-nas-1.png" alt="" class="expert__slider-img">
                        </div>
                        <div class="result__slide-text-box">
                            <h3 class="expert__slide-title">иванова алена александровна</h3>
                            <ul>
                                <li class="expert__slide-text">Директор центра здоровья
                                    и&nbsp;красоты &laquo;Романов&raquo;</li>
                            </ul>
                        </div>
                    </div>

                    <div class="swiper-slide expert__slide">
                        <div class="expert__slider-img-wrap">
                            <img src="assets/img/msm/foto-smi-o-nas-1.png" alt="" class="expert__slider-img">
                        </div>
                        <div class="result__slide-text-box">
                            <h3 class="expert__slide-title">иванова алена александровна</h3>
                            <ul>
                                <li class="expert__slide-text">Директор центра здоровья
                                    и&nbsp;красоты &laquo;Романов&raquo;</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
        <div class="expert__down-row">
            <!-- Стрелки -->
            <div class="slider__btn-box slider__btn-box-expert">
                <button class="slider-btn slider-btn-prev expert-btn-prev" tabindex="0" aria-label="Previous slide"
                    aria-controls="swiper-wrapper-691c23e4e96b6d30">
                    <svg width="18.998047" height="16.548340" viewBox="0 0 18.998 16.5483" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs></defs>
                        <path id="→"
                            d="M8.27051 16.5483L-0.000488281 8.27734L8.27051 0L9.35596 1.08545L2.93213 7.50293L18.998 7.50293L18.998 9.05176L2.93213 9.05176L9.35596 15.4692L8.27051 16.5483Z"
                            fill="#272727" fill-opacity="1.000000" fill-rule="evenodd"></path>
                    </svg>

                </button>
                <button class="slider-btn slider-btn-next expert-btn-next" tabindex="0" aria-label="Next slide"
                    aria-controls="swiper-wrapper-691c23e4e96b6d30">
                    <svg width="18.998047" height="16.548340" viewBox="0 0 18.998 16.5483" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs></defs>
                        <path id="→"
                            d="M8.27051 16.5483L-0.000488281 8.27734L8.27051 0L9.35596 1.08545L2.93213 7.50293L18.998 7.50293L18.998 9.05176L2.93213 9.05176L9.35596 15.4692L8.27051 16.5483Z"
                            fill="#272727" fill-opacity="1.000000" fill-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="btn-bloc-box expert__btn-bloc-box">
                <button class="btn-bloc">подробнее о компании</button>
                <div class="btn-bloc-circle">
                    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                            fill="rgb(39, 39, 39)"></path>
                    </svg>
                </div>
            </div>
        </div>

    </div>
</section>