<section class='help'>
    <div class='container help__container'>
        <img src="@img/form/foto-dlya-formy.png" alt="" class="help__bg">
        <img src="@img/form/foto-dlya-formy-maska.png" alt="" class="help__bg-mask">
        <div class="help__content-box">
            <h2 class="help__title _fonts-js">Нужна помощь&nbsp;&nbsp;в&nbsp;&nbsp;выборе услуги?</h2>
            <h3 class="help__subtitle">Оставьте заявку и&nbsp;получите консультацию бьюти-специалиста</h3>
            <form class="form">
                <div class="form__row">
                    <input id="name" name="name" class="form__input form__input_two-col _req" type="text"
                        placeholder="Введите имя">
                    <input id="tel" name="tel" class="form__input form__input_two-col _req phone" type="tel"
                        placeholder="+7 (___) ___-__-__">
                </div>
                <div class="form__row form__row_text">
                    <label class="form__label" for="text">Оставьте комментарий</label>
                    <input id="text" name="text" class="form__text-area" type="text" placeholder="Введите текст...">
                </div>
                <button class="primary-btn primary-btn_form _btn-underline-js form__btn">
                    Получить консультацию
                </button>
                <span class="form__agree">Даю согласие на&nbsp;обработку персональных данных</span>
            </form>
        </div>
    </div>
</section>