<section class='info'>
    <div class='container info__container'>
        <h2 class="info__title">Центр здоровья и&nbsp;красоты &laquo;Романов&raquo;&nbsp;&mdash; премиальная клиника
            в&nbsp;центре Москвы</h2>
        <p class="info__text">Более 5&nbsp;лет мы&nbsp;помогаем женщинам и&nbsp;мужчинам почувствовать себя во&nbsp;всей
            красе благодаря эффективным и&nbsp;натуральным методикам оздоровления и&nbsp;омоложения.
            Расположенный недалеко от&nbsp;Кремля, наш салон предоставляет услуги высшего уровня, совмещая лучшие
            западные и&nbsp;восточные практики.
            Мы&nbsp;работаем над каждым клиентом индивидуально, учитывая все особенности организма и&nbsp;стиля жизни.
            Наши специалисты проводят диагностику, а&nbsp;после разрабатывают комплекс мероприятий.
            В&nbsp;центре &laquo;Романов&raquo; вы&nbsp;можете пройти курс омоложения, восстановления здоровья или
            достичь спортивной формы с&nbsp;помощью наших эффективных программ.
            Мы&nbsp;гарантируем полный разгруз и&nbsp;восстановление энергии после каждого визита. Приходите
            и&nbsp;убедитесь, как работает холистический подход!</p>
    </div>
</section>