<section class='know'>
    <div class='container know__container'>
        <h2 class="know__title _fonts-js">А&nbsp;вы&nbsp;знали, что...</h2>
        <div class="know__card-box">
            <div class="know__card">
                <img src="@img/icons/zvezda-kartochki-a-vy-znaete.svg" alt="" class="know-card-bg-icon">
                <h4 class="know__card-title">Эндосферу используют многие голливудские звезды</h4>
                <p class="know__card-text">Например, Дженнифер Лопес, Бейонсе,
                    Ким Кардашьян. Они доверяют эндосфере свою фигуру</p>
            </div>
            <div class="know__card">
                <img src="@img/icons/zvezda-kartochki-a-vy-znaete.svg" alt="" class="know-card-bg-icon">
                <h4 class="know__card-title">Эндосфера была изобретена врачами NASA</h4>
                <p class="know__card-text">Специально для космонавтов, чтобы помочь им&nbsp;восстановить мышечный тонус
                    после полетов</p>
            </div>
        </div>
    </div>
</section>