<section class='msm'>
    <div class='container msm__container'>
        <div class="msm__title-box">
            <h2 class="msm__title _fonts-js">СМИ о&nbsp;нас</h2>
            <div class="slider__btn-box">
                <button class="slider-btn slider-btn-prev msm-btn-prev">
                    <svg width="18.998047" height="16.548340" viewBox="0 0 18.998 16.5483" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="→"
                            d="M8.27051 16.5483L-0.000488281 8.27734L8.27051 0L9.35596 1.08545L2.93213 7.50293L18.998 7.50293L18.998 9.05176L2.93213 9.05176L9.35596 15.4692L8.27051 16.5483Z"
                            fill="#272727" fill-opacity="1.000000" fill-rule="evenodd" />
                    </svg>

                </button>
                <button class="slider-btn slider-btn-next msm-btn-next">
                    <svg width="18.998047" height="16.548340" viewBox="0 0 18.998 16.5483" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>
                            Created with Pixso.
                        </desc>
                        <defs />
                        <path id="→"
                            d="M8.27051 16.5483L-0.000488281 8.27734L8.27051 0L9.35596 1.08545L2.93213 7.50293L18.998 7.50293L18.998 9.05176L2.93213 9.05176L9.35596 15.4692L8.27051 16.5483Z"
                            fill="#272727" fill-opacity="1.000000" fill-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="msm__slider-box">

            <!-- Главный контейнер -->
            <div class="swiper msm-slider">
                <!-- Оболочка -->
                <div class="swiper-wrapper">
                    <!-- Слайды -->
                    <div class="swiper-slide msm-swiper-slide">

                        <div class="msm__slider-img-wrap">
                            <img src="@img/msm/foto-smi-o-nas-1.png" alt="" class="msm__slider-img">
                            <img src="@img/msm/foto-smi-o-nas-maska.png" alt="" class="msm__slider-img-mask">
                        </div>
                        <a href="#" class="btn-card-box btn-card-box_no-c">
                            <span class="btn-card btn-card_no-c">Статья для Marie
                                Claire</span>
                            <div class="btn-card-circle btn-card-circle_no-c">
                                <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                        fill="#272727"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                    <div class="swiper-slide msm-swiper-slide">

                        <div class="msm__slider-img-wrap">
                            <img src="@img/msm/foto-smi-o-nas-1.png" alt="" class="msm__slider-img">
                            <img src="@img/msm/foto-smi-o-nas-maska.png" alt="" class="msm__slider-img-mask">
                        </div>
                        <a href="#" class="btn-card-box btn-card-box_no-c">
                            <span class="btn-card btn-card_no-c">Статья для Marie
                                Claire</span>
                            <div class="btn-card-circle btn-card-circle_no-c">
                                <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                        fill="#272727"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                    <div class="swiper-slide msm-swiper-slide">

                        <div class="msm__slider-img-wrap">
                            <img src="@img/msm/foto-smi-o-nas-1.png" alt="" class="msm__slider-img">
                            <img src="@img/msm/foto-smi-o-nas-maska.png" alt="" class="msm__slider-img-mask">
                        </div>
                        <a href="#" class="btn-card-box btn-card-box_no-c">
                            <span class="btn-card btn-card_no-c">Статья для Marie
                                Claire</span>
                            <div class="btn-card-circle btn-card-circle_no-c">
                                <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                        fill="#272727"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                    <div class="swiper-slide msm-swiper-slide">

                        <div class="msm__slider-img-wrap">
                            <img src="@img/msm/foto-smi-o-nas-1.png" alt="" class="msm__slider-img">
                            <img src="@img/msm/foto-smi-o-nas-maska.png" alt="" class="msm__slider-img-mask">
                        </div>
                        <a href="#" class="btn-card-box btn-card-box_no-c">
                            <span class="btn-card btn-card_no-c">Статья для Marie
                                Claire</span>
                            <div class="btn-card-circle btn-card-circle_no-c">
                                <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                        fill="#272727"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                    <div class="swiper-slide msm-swiper-slide">

                        <div class="msm__slider-img-wrap">
                            <img src="@img/msm/foto-smi-o-nas-1.png" alt="" class="msm__slider-img">
                            <img src="@img/msm/foto-smi-o-nas-maska.png" alt="" class="msm__slider-img-mask">
                        </div>
                        <a href="#" class="btn-card-box btn-card-box_no-c">
                            <span class="btn-card btn-card_no-c">Статья для Marie
                                Claire</span>
                            <div class="btn-card-circle btn-card-circle_no-c">
                                <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                        fill="#272727"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                    <div class="swiper-slide msm-swiper-slide">

                        <div class="msm__slider-img-wrap">
                            <img src="@img/msm/foto-smi-o-nas-1.png" alt="" class="msm__slider-img">
                            <img src="@img/msm/foto-smi-o-nas-maska.png" alt="" class="msm__slider-img-mask">
                        </div>
                        <a href="#" class="btn-card-box btn-card-box_no-c">
                            <span class="btn-card btn-card_no-c">Статья для Marie
                                Claire</span>
                            <div class="btn-card-circle btn-card-circle_no-c">
                                <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                        fill="#272727"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                    <div class="swiper-slide msm-swiper-slide">

                        <div class="msm__slider-img-wrap">
                            <img src="@img/msm/foto-smi-o-nas-1.png" alt="" class="msm__slider-img">
                            <img src="@img/msm/foto-smi-o-nas-maska.png" alt="" class="msm__slider-img-mask">
                        </div>
                        <a href="#" class="btn-card-box btn-card-box_no-c">
                            <span class="btn-card btn-card_no-c">Статья для Marie
                                Claire</span>
                            <div class="btn-card-circle btn-card-circle_no-c">
                                <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                        fill="#272727"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                    <div class="swiper-slide msm-swiper-slide">

                        <div class="msm__slider-img-wrap">
                            <img src="@img/msm/foto-smi-o-nas-1.png" alt="" class="msm__slider-img">
                            <img src="@img/msm/foto-smi-o-nas-maska.png" alt="" class="msm__slider-img-mask">
                        </div>
                        <a href="#" class="btn-card-box btn-card-box_no-c">
                            <span class="btn-card btn-card_no-c">Статья для Marie
                                Claire</span>
                            <div class="btn-card-circle btn-card-circle_no-c">
                                <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                        fill="#272727"></path>
                                </svg>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
</section>