<section class='page-nav'>
    <div class='container page-nav__container'>
        <div class="page-nav-box">
            <ul class="page-nav-list">
                <li class="page-nav-item">
                    <a class="page-nav-link" href="#">Сравнение</a>
                </li>
                <li class="page-nav-item">
                    <a class="page-nav-link" href="#">акции</a>
                </li>
                <li class="page-nav-item">
                    <a class="page-nav-link" href="#">показания</a>
                </li>
                <li class="page-nav-item">
                    <a class="page-nav-link" href="#">описание</a>
                </li>
                <li class="page-nav-item">
                    <a class="page-nav-link" href="#">результаты</a>
                </li>
                <li class="page-nav-item">
                    <a class="page-nav-link" href="#">Стоимость</a>
                </li>
                <li class="page-nav-item">
                    <a class="page-nav-link" href="#">специалисты</a>
                </li>
                <li class="page-nav-item">
                    <a class="page-nav-link" href="#">вопросы</a>
                </li>
            </ul>
        </div>
        <div class="content">
            @@include('../components/know.html')
            @@include('../components/advantages-service.html')
            @@include('../components/special.html')
        </div>
    </div>
</section>