<section class='partners'>
    <div class='container partners__container'>
        <h2 class="partners__title _fonts-js">Наши партнеры</h2>
        <div class="partners__card-box">

            <div class="partners__card" data-src="#partner" data-type="clone" data-fancybox="partner-gallery">
                <div id="partner" class="partners__img-wrap">
                    <img src="@img/partners/foto-partnerov-1.png" alt="" class="partners-img">
                </div>
                <h3 class="partners__card-title">Ericson Laboratoire</h3>
                <p class="partners__card-text">Французский бренд лечебной косметики, основанной на принципах
                    клеточной терапии</p>
            </div>

            <div class="partners__card" data-src="#partner" data-type="clone" data-fancybox="partner-gallery">
                <div id="partner" class="partners__img-wrap">
                    <img src="@img/partners/foto-partnerov-1.png" alt="" class="partners-img">
                </div>
                <h3 class="partners__card-title">Ericson Laboratoire</h3>
                <p class="partners__card-text">Французский бренд лечебной косметики, основанной на принципах
                    клеточной терапии</p>
            </div>
            <div class="partners__card" data-src="#partner" data-type="clone" data-fancybox="partner-gallery">
                <div id="partner" class="partners__img-wrap">
                    <img src="@img/partners/foto-partnerov-1.png" alt="" class="partners-img">
                </div>
                <h3 class="partners__card-title">Ericson Laboratoire</h3>
                <p class="partners__card-text">Французский бренд лечебной косметики, основанной на принципах
                    клеточной терапии</p>
            </div>
            <div class="partners__card" data-src="#partner" data-type="clone" data-fancybox="partner-gallery">
                <div id="partner" class="partners__img-wrap">
                    <img src="@img/partners/foto-partnerov-1.png" alt="" class="partners-img">
                </div>
                <h3 class="partners__card-title">Ericson Laboratoire</h3>
                <p class="partners__card-text">Французский бренд лечебной косметики, основанной на принципах
                    клеточной терапии</p>
            </div>
        </div>
    </div>
</section>