<section class='quote'>
    <div class='container quote__container'>
        <h3 class="quote__text">Энергия – валюта будущего. Все, что станет
            её источником, будет давать человеку жизненный ресурс
            и высокую продуктивность.<span class="quote__text_lite">
                Применяя лучшие мировые бьюти-практики, мы комплексно решаем вопросы
                восстановления физического и эмоционального
                здоровья для повышения качества жизни в условиях
                мегаполиса.</span></h3>
    </div>
</section>
<section></section>