<section class='services'>
    <div class='container services__container'>
        <h2 class="services__title">Наши услуги</h2>
        <div class="services__card-box">
            <div class="services-card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-1.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Бьюти-менторинг
                        и&nbsp;стратегии долголетия</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Консультации и ведение</li>
                            <li>Карта питания</li>
                            <li>Стратегия долголетия</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-2.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Диагностика</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Лабораторные исследования</li>
                            <li>Биоимпедансометрия</li>
                            <li>Пульсовая диагностика</li>
                            <li>Аромадиагностика</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="services-card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-3.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Гармонизация внешности</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Квантовое омоложение</li>
                            <li>Остеопластика</li>
                            <li>Бьютификация лица</li>
                            <li>Скульптурный массаж</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="services-card services__card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-4.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Ресурсная терапия</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Психотерапия
                                <ul>
                                    <li>Консультация</li>
                                    <li>Сеансы на&nbsp;мак-картах</li>
                                    <li>Здоровое либидо</li>
                                </ul>
                            </li>
                            <li>Подбор ресурсного аромата</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="services-card services__card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-5.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Реабилитация
                        и&nbsp;коррекция фигуры</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Массажи</li>
                            <li>Эндосфера-терапия</li>
                            <li>Криолиполиз Clatuu</li>
                            <li>Лечебные обертывания</li>
                            <li>Юмейхо</li>
                            <li>Транзион</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="services-card services__card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-6.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Антистресс-программы</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Массаж огнем</li>
                            <li>Иглоукалывание</li>
                            <li>Сеансы нейрорелаксации</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="services-card services__card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-7.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Оздоровительный
                        комплекс</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Барокамера</li>
                            <li>Кедровая бочка</li>
                            <li>Гирудотерапия</li>
                            <li>Капельницы</li>
                            <li>Баночный массаж</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="services-card services__card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-8.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Косметология</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Аппаратная
                                <ul>
                                    <li>Hydrafacial</li>
                                    <li>Микротоковая терапия</li>
                                    <li>Healite</li>
                                    <li>Карболовый пилинг</li>
                                </ul>
                            </li>
                            <br class="two-col">
                            <li>Эстетическая
                                <ul>
                                    <li>Уходы</li>
                                    <li>Чистки</li>
                                    <li>Пилинг</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="services-card services__card">
                <div class="services-card-img-wrap">
                    <img src="@img/services/foto-uslug-9.png" alt="" class="services-card-img">
                    <img src="@img/services/foto-uslug-maska.png" alt="" class="services-card-img-mask">
                </div>
                <div class="services-card-content-box">
                    <h3 class="services-card-title">Антистресс-программы</h3>
                    <div class="services-card-content">
                        <ul>
                            <li>Массаж огнем</li>
                            <li>Иглоукалывание</li>
                            <li>Сеансы нейрорелаксации</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-circle-box btn-circle-box_green services__btn">
                        <span class="btn btn-circle btn-circle_green btn-circle_green_black">подробнее</span>
                        <div class="btn-circle-circle btn-circle-circle_green">
                            <svg width="14" height="19" viewBox="0 0 16 13" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                    fill="#272727"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" class="btn btn-regular btn-regular_secondary _btn-underline-js services__link">Смотреть все
                услуги</a>
        </div>
    </div>
</section>