<section class='special'>
    <div class='container special__container'>
        <h2 class="special__title _fonts-js">спецпредложение</h2>
        <div class="special__content-box">
            <img src="@img/special/fonovoe-izobrazhenie-specpredlozhenij.png" alt="" class="special__content-bg">
            <img src="@img/special/fonovoe-izobrazhenie-specpredlozhenij-maska.png" alt=""
                class="special__content-bg-mask">
            <div class="special__content-wrap">
                <h3 class="special__content-title _fonts-js">первый сеанс эндосферы </h3>
                <h4 class="special__content-subtitle">от звездного спа-терапевта Ольги Малаховой</h4>
                <span class="special__span">Специальная цена</span>
                <span class="special__price-box">
                    <span class="special__price">5.300₽ за 75 мин</span>
                    <span class="special__old-price">вместо 6.760 ₽</span>
                </span>

                <button class="primary-btn primary-btn_form _btn-underline-js special__btn">
                    <span class="_underline-js">Записаться</span>
                </button>

                <a href="#" class="btn-card-box stock__btn special__btn-mob">
                    <span class="btn-card btn-card_white">записаться</span>
                    <div class="btn-card-circle btn-card-circle_white">
                        <svg width="14" height="19" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.75284 13L7.65909 11.9205L12.1619 7.41761H0.5V5.85511H12.1619L7.65909 1.36648L8.75284 0.272727L15.1165 6.63636L8.75284 13Z"
                                fill="rgb(239, 234, 229)"></path>
                        </svg>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>