.about {
}
.about__container {
    display: flex;
    flex-direction: column;
}
.about__up-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 117px;
    @include respond-to("pc-old") {
        flex-direction: column-reverse;
        gap: 145px;
    }
    @include respond-to("tab") {
        gap: 90px;
        margin-bottom: 66px;
    }
}
.about__content-box {
    flex: 0 1 57.5%;
}
.about__title {
    letter-spacing: -0.04em;
    @include respond-to("tab") {
        display: none;
    }
}
.about__title-mob {
    display: none;
    @include respond-to("tab") {
        display: block;
        text-align: center;
        font-size: var(--fs-35);
    }
}
.about__subtitle {
    font-family: var(--ff-title);
    @include font(var(--fw-400), var(--fs-36), var(--primary-black), var(--lh-125));
    text-transform: uppercase;
    letter-spacing: -0.04em;
    margin-bottom: 25px;
    @include respond-to("tab") {
        font-weight: var(--fw-500);
        font-size: var(--fs-20);
        line-height: var(--lh-130);
        margin-bottom: 15px;
    }
}
.about__text {
    // max-width: 670px;
}
.about__advent-box {
    // margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(4, auto);

    margin-bottom: 62px;
    @include respond-to("tab") {
        margin-bottom: 33px;
        margin-top: 45px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
.about__advent-item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    @include respond-to("tab") {
        justify-self: center;
        height: 100%;
        width: 100%;
        align-items: center;

        // &:nth-child(odd) {
        //     border-bottom: 1px solid var(--green);
        //     border-right: 1px solid var(--green);
        // }
        // &:nth-child(even) {
        //     border-bottom: 1px solid var(--green);
        // }
        &:nth-child(1) {
            border-top: 1px solid var(--green);
            border-bottom: 1px solid var(--green);
        }
        &:nth-child(2) {
            border-top: 1px solid var(--green);
            border-bottom: 1px solid var(--green);
        }
        &:nth-child(3) {
            border-bottom: 1px solid var(--green);
        }
        &:nth-child(4) {
            border-bottom: 1px solid var(--green);
        }
    }
}
.about__advent-item-num {
    font-family: var(--ff-title);
    @include font(var(--fw-400), var(--fs-80), var(--primary-black), var(--lh-100));
    letter-spacing: -0.05em;
    margin-bottom: 10px;
    @include respond-to("tab") {
        font-size: var(--fs-44);
        margin-bottom: 11px;
        margin-top: 14px;
    }
}
.about__advent-item-text {
    @include font(var(--fw-400), var(--fs-16), var(--primary-black), var(--lh-120));
    letter-spacing: -0.06em;
    @include respond-to("tab") {
        font-size: var(--fs-14);
        text-align: center;
        margin-bottom: 14px;
    }
}
.about__video-box {
    flex: 0 1 41.5%;
    display: flex;
    justify-content: flex-end;
    @include respond-to("pc-old") {
        flex: 0 1 100%;
        justify-content: center;
    }
    @include respond-to("tab") {
        justify-content: flex-start;
        flex-direction: column;
    }
}
.about__video-wrap {
    position: relative;
    display: flex;
    margin-top: 65px;
    height: fit-content;
    @include respond-to("pc-old") {
        margin-top: 0;
    }
    @include respond-to("tab") {
        width: fit-content;
    }
}
.about__video-wrap-img {
    position: relative;
    width: 420px;
    height: 548px;
    border-radius: 30px;
    @include respond-to("tab") {
        width: 232px;
        height: 303px;
    }
}
.about-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.about__video-box-wrap {
    position: absolute;
    border-radius: 21.7px;
    background: rgb(39, 39, 39);
    width: 268px;
    height: 179.03px;
    bottom: -123px;
    left: 58%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond-to("tab") {
        left: 50%;
        width: 156px;
        height: 104.21px;
        bottom: -50px;
        left: 100%;
    }
    @include respond-to("tel-old") {
        // left: 80%;
    }
}
.about__video-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--grey);
    width: 64px;
    height: 64px;
    padding-left: 5px;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background: var(--primary-beige);
        & svg {
            transition: 0.3s;
            fill: var(--green);
        }
        & svg > path {
            transition: 0.3s;
            fill: var(--green);
        }
    }
    @include respond-to("tab") {
        width: 40.42px;
        height: 40.42px;
        & > svg {
            width: 12.63px;
            height: 12.63px;
        }
    }
}
.about__down-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include respond-to("tab") {
        gap: 10px;
    }
}
.about__card-box {
}
.about__card {
    flex: 0 1 calc((100% - 3 * 30px) / 4);
    padding: 33px;
    align-items: center;
    @include respond-to("pc-old") {
        flex: 0 1 calc((100% - 2 * 30px) / 3);
        padding: 25px;
    }
    @include respond-to("tab") {
        flex: 0 1 calc((100% - 1 * 10px) / 2);
        padding: 23px 23px 18px 23px;
        flex-direction: column;
        align-items: flex-start;
        gap: 11px;
    }
    // @include respond-to("tel-old") {
    //     flex: 0 1 100%;
    // }
}
.about__wrap-card-icon {
    min-width: 38px;
    min-height: 38px;
    border-radius: 100%;
    background-color: var(--primary-beige);
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond-to("tab") {
        min-width: 28px;
        min-height: 28px;
        & > svg {
            width: 13px;
            height: 13px;
        }
    }
}
.about__card-title {
}
