//основные импорты
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "fonts";
@import "variables";
@import "mixin";
@import "reset";
@import "root";
@import "typography";

//========основные стили============
html {
    height: 100%;
}
body {
    font-family: $text;
    display: flex;
    flex-direction: column;
}
main {
    // height: 100%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    background-color: $beige;
    @include respond-to("tab") {
        gap: 120px;
    }
}
svg {
    transition: 0.3s;
}
section {
    &:last-child {
        padding-bottom: 75px;
    }
}
//==================================

//Импорты блоков и компонентов
@import "./components/_spoiler";
// @import "./components/_tabs";
@import "./components/card";
@import "./components/btn";
@import "./components/header";
@import "./components/footer";
@import "./components/burgerMenu";
@import "./components/icons";
@import "./components/form";
@import "./components/banner";
@import "./components/quote";
@import "./components/advantages";
@import "./components/services";
@import "./components/stock";
