h2 {
    font-family: var(--ff-title);
    @include font(var(--fw-normal), var(--fs-68), var(--primary-black), var(--lh-100));
    margin-bottom: 55px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    @include respond-to("nout") {
        font-size: var(--fs-52);
    }
    @include respond-to("tel") {
        font-size: var(--fs-36);
        margin-bottom: 25px;
    }
}

h1 {
    font-family: var(--ff-title);
    @include font(var(--fw-normal), var(--fs-52), var(--primary-beige), var(--lh-125));
    margin-bottom: 15px;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    @include respond-to("nout") {
        font-size: var(--fs-35);
    }
    @include respond-to("tel") {
        font-size: var(--fs-28);
    }
}

h3 {
    font-family: var(--ff-text);
    @include font(var(--fw-light), var(--fs-22), var(--primary-beige), var(--lh-130));
    letter-spacing: -0.1em;
    margin-bottom: 30px;
    @include respond-to("nout") {
        font-size: var(--fs-16);
    }
    @include respond-to("tel") {
        font-size: var(--fs-14);
    }
}

p {
    font-family: var(--ff-text);
    @include font(var(--fw-400), var(--fs-18), var(--primary-black), var(--lh-130));
    letter-spacing: -0.06em;
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }

    @include respond-to("tel") {
        font-size: var(--fs-14);
    }
}
.ceremonious {
    font-family: "Ceremonious One Regular";
    display: inline;
    letter-spacing: -0.08em;
}
